<a href="https://colab.research.google.com/github/TrevBot17/NBA_Predict/blob/main/Predict_NBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Imports

In [2]:
from datetime import datetime, timedelta
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import time

In [3]:
team_dict = {'Atlanta Hawks' : 'ATL',
             'Boston Celtics' : 'BOS',
             'Brooklyn Nets' : 'BRK',
             'Charlotte Hornets' : 'CHO',
             'Chicago Bulls' : 'CHI',
             'Cleveland Cavaliers' : 'CLE',
             'Dallas Mavericks' : 'DAL',
             'Denver Nuggets' : 'DEN',
             'Detroit Pistons' : 'DET',
             'Golden State Warriors' : 'GSW',
             'Houston Rockets' : 'HOU',
             'Indiana Pacers' : 'IND',
             'Los Angeles Clippers' : 'LAC',
             'Los Angeles Lakers' : 'LAL',
             'Memphis Grizzlies' : 'MEM',
             'Miami Heat' : 'MIA',
             'Milwaukee Bucks' : 'MIL',
             'Minnesota Timberwolves' : 'MIN',
             'New Orleans Pelicans' : 'NOP',
             'New York Knicks' : 'NYK',
             'Oklahoma City Thunder' : 'OKC',
             'Orlando Magic' : 'ORL',
             'Philadelphia 76ers' : 'PHI',
             'Phoenix Suns' : 'PHO',
             'Portland Trail Blazers' : 'POR',
             'Sacramento Kings' : 'SAC',
             'San Antonio Spurs' : 'SAS',
             'Toronto Raptors' : 'TOR',
             'Utah Jazz' : 'UTA',
             'Washington Wizards' : 'WAS'}

## Defensive Ranks

In [4]:
def defensive_rank(season):
  # Opponent Defensive Rank
  def_url = 'https://www.basketball-reference.com/leagues/NBA_{}_ratings.html'.format(str(season))
  def_data = pd.read_html(def_url, skiprows = 1, header = 0)[0]
  return def_data[['Team', 'DRtg/A']]

## Random Forest Full Model

The full model uses the below variables to predict how many points each team scores in tonight's games.

-Average Points Per Game (PPG) season to date<br>
-Average PPG last 3 games<br>
-Home/Away<br>
-Days Rest<br>
-Opponents' adjusted defensive rating

In [22]:
# Make it all a function
def evaluate_preds(season, team, def_ranks):
  # Season: int (ex: 2022)
  # Team: str (ex: 'BOS')
  # Def_Ranks: dataframe created above. limit calls to bball-ref

  url = 'https://www.basketball-reference.com/teams/{}/{}_games.html'.format(team, str(season))
  data = pd.read_html(url)[0]
  data = data.rename(columns = {'Unnamed: 5' : 'Home',
                              'Unnamed: 7' : 'Result',
                              'Unnamed: 8' : 'Overtime',
                              'Tm' : 'Points_For',
                              'Opp' : 'Points_Against'})

  # Filter out extra rows in table
  data = data.loc[data['G'] != 'G']

  # Convert Date to datetime objects
  data['Date'] = pd.to_datetime(data['Date'])

  # Filter out games that haven't been played yet
  today = (datetime.today() - timedelta(hours = 8)).strftime('%Y-%m-%d')
  data = data[data['Date'] <= today]

  # Convert Points_For to int
  data['Points_For'] = data['Points_For'].astype('int', errors = 'ignore')

  # Clean Home/Away column
  data['Home'] = data['Home'].replace('@', 0)
  data['Home'] = data['Home'].fillna(1)
  data['Home'] = data['Home'].astype('int')

  # Add Days Rest column
  data['Days_Rest'] = data.Date.diff() - timedelta(days = 1)
  data['Days_Rest'] = data['Days_Rest'].fillna(data['Days_Rest'].median())
  data['Days_Rest'] = pd.to_numeric(data.Days_Rest.dt.days, downcast = 'integer')

  # Join data and def_data to add DRtg/A (adjusted defensive rating)
  data = data.merge(def_ranks, left_on = 'Opponent', right_on = 'Team').sort_values(by = ['Date'])

  # Set index to Date
  data = data.set_index('Date')

  # Avg points per game for the season
  data['Avg_Pts'] = data['Points_For'].rolling(window = 82, min_periods = 1).mean().shift(periods = 1)
  # data['Avg_Pts'].fillna(data['Avg_Pts'].mean()) not sure if a good idea to impute

  # Avg points per game last three games
  data['Avg_Pts_Last_3'] = data['Points_For'].rolling(window = 3, min_periods = 1).mean().shift(periods = 1)

  # Only numerical columns for regression
  # data variable has everything, plus NA values. df only has numerical values for regression
  df = data[['Points_For', 'Avg_Pts', 'Avg_Pts_Last_3', 'Home', 'Days_Rest', 'DRtg/A']].dropna()

  # Train Test Split
  X = df[['Avg_Pts', 'Avg_Pts_Last_3', 'Home', 'Days_Rest', 'DRtg/A']]
  y = df['Points_For']
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 17)

  # RF consistently performs best. Not sure of real life applications of model choice
  # Take average of 10 RF regressors
  # Initially thought I would minimize the error but there's less variation in the RF regressors than hypothesized
  randoms = range(17, 27)
  errors = []
  for state in randoms:
    rf = RandomForestRegressor(n_estimators = 500, max_depth = 2, random_state = state).fit(X_train, y_train)
    y_preds = rf.predict(X_test)
    errors.append(mean_absolute_error(y_preds, y_test))
  
  return errors

In [35]:
season = 2022
def_ranks = defensive_rank(season)

# Initialize dictionary to store errors
err_dict_full_model = {}

# Takes a couple mintues to run
for team in team_dict.values():
  err = evaluate_preds(season, team, def_ranks)
  err_dict_full_model[team] = err

err_df_full_model = pd.DataFrame(err_dict_full_model).transpose()
err_df_full_model['Mean Error'] = err_df_full_model.mean(axis = 1)
err_df_full_model

,0,1,2,3,4,5,6,7,8,9,Mean Error
ATL,10.914876,10.920555,10.996316,10.957654,10.846691,10.787910,11.042591,11.047394,10.945096,10.881035,10.934012
BOS,13.875018,13.968660,14.009179,13.844616,13.914751,13.763050,13.738967,13.915953,13.961058,13.988812,13.898006
BRK,9.733091,9.675847,9.579005,9.726916,9.621242,9.521564,9.673467,9.694871,9.696005,9.698884,9.662089
CHO,10.316505,10.299569,10.124493,10.269793,10.335884,10.195110,10.459605,10.404766,10.445815,10.471035,10.332258
CHI,12.338429,12.364013,12.456271,12.375261,12.409448,12.297314,12.334438,12.347019,12.423419,12.423811,12.376942
CLE,8.243027,8.214622,8.307213,8.326184,8.243825,8.243090,8.341810,8.300515,8.303360,8.328171,8.285182
DAL,10.217432,10.148556,10.029617,10.153660,10.143928,10.087865,10.269590,10.129967,10.028083,10.169722,10.137842
DEN,10.163290,10.130600,9.929194,10.121254,10.102291,10.046047,10.051317,10.086878,10.084982,9.964490,10.068034
DET,8.642686,8.563350,8.581512,8.738457,8.649248,8.557483,8.670896,8.621790,8.726482,8.573410,8.632532
GSW,10.072685,9.987530,10.026357,10.090428,10.102294,10.066492,10.098669,10.209796,10.035717,10.125832,10.081580
HOU,8.340856,8.249202,8.315325,8.541171,8.345758,8.160368,8.404886,8.065922,8.295600,8.322879,8.304197
IND,9.413896,9.501094,9.471055,9.383779,9.413057,9.504840,9.396355,9.418385,9.467498,9.496852,9.446681
LAC,11.176790,11.177515,11.142300,11.207255,11.269765,11.227045,11.016876,11.067370,11.173568,11.087962,11.154645
LAL,10.517298,10.354033,10.539631,10.613387,10.440690,10.621666,10.418211,10.375641,10.639627,10.676929,10.519711
MEM,10.341814,10.338613,10.472228,10.372630,10.408013,10.360914,10.568005,10.340341,10.333720,10.332941,10.386922
MIA,7.171539,7.215521,7.088635,7.256580,7.140975,7.121278,7.288070,7.291521,7.162898,7.280806,7.201782
MIL,7.566172,7.505833,7.665560,7.487484,7.464266,7.541689,7.567596,7.618375,7.529937,7.523657,7.547057
MIN,9.345089,9.250275,9.243231,9.254616,9.223067,9.383881,9.180572,9.356782,9.315878,9.280311,9.283370
NOP,8.803998,8.686793,8.884601,8.717493,8.603566,8.801414,8.748014,8.721065,8.804411,8.760753,8.753211
NYK,8.624974,8.563435,8.567290,8.577460,8.582005,8.726931,8.593950,8.588048,8.643824,8.626960,8.609488
OKC,7.690077,7.722117,7.655569,7.716013,7.799423,7.722719,7.764689,7.644596,7.802971,7.745303,7.726348
ORL,7.325138,7.260746,7.248298,7.287719,7.327272,7.288321,7.265114,7.321417,7.304692,7.324700,7.295342
PHI,10.371662,10.389802,10.458331,10.386293,10.467251,10.308628,10.363717,10.334146,10.366045,10.305635,10.375151
PHO,7.642849,7.508842,7.577230,7.606905,7.625753,7.638240,7.663578,7.636220,7.629265,7.686121,7.621500
POR,9.247547,9.154842,9.242565,9.241074,9.216357,9.256688,9.328425,9.315958,9.241152,9.232714,9.247732
SAC,10.245862,10.324844,10.232877,10.316314,10.262554,10.362671,10.354092,10.292037,10.334958,10.292924,10.301913
SAS,10.075474,10.161316,10.190247,10.141292,10.190002,10.148853,10.115569,10.143496,10.146740,10.147049,10.146004
TOR,10.254034,10.410590,10.304023,10.344915,10.318993,10.406616,10.158580,10.346227,10.287336,10.368090,10.319940
UTA,6.679650,6.587714,6.560836,6.526628,6.613123,6.563206,6.654003,6.642244,6.648193,6.549368,6.602496
WAS,8.186380,8.282581,8.226857,8.275624,8.373094,8.205532,8.270676,8.284969,8.346151,8.227307,8.267917

We're able to predict the accuracy of tonight's score within 7-10 points for most teams, which is a good starting point. The average number of points scored by an NBA team on a given night is 113-114 so our errors are in the 6-9% range

## Season Avg Pts

Is the full model above better at predicting the final score than just using each team's average scoring output season to date? Let's find out.

In [39]:
# Is it any better than taking the team's season average number of points?
def season_avg_pts(season, team):
  # Season: int (ex: 2022)
  # Team: str (ex: 'BOS')
  # Def_Ranks: dataframe created above. limit calls to bball-ref

  url = 'https://www.basketball-reference.com/teams/{}/{}_games.html'.format(team, str(season))
  data = pd.read_html(url)[0]
  data = data.rename(columns = {'Unnamed: 5' : 'Home',
                              'Unnamed: 7' : 'Result',
                              'Unnamed: 8' : 'Overtime',
                              'Tm' : 'Points_For',
                              'Opp' : 'Points_Against'})

  # Filter out extra rows in table
  data = data.loc[data['G'] != 'G']

  # Convert Date to datetime objects
  data['Date'] = pd.to_datetime(data['Date'])

  # Filter out games that haven't been played yet
  today = (datetime.today() - timedelta(hours = 8)).strftime('%Y-%m-%d')
  data = data[data['Date'] <= today]

  # Convert Points_For to int
  data['Points_For'] = data['Points_For'].astype('int', errors = 'ignore')

  # Clean Home/Away column
  data['Home'] = data['Home'].replace('@', 0)
  data['Home'] = data['Home'].fillna(1)
  data['Home'] = data['Home'].astype('int')

  # Add Days Rest column
  data['Days_Rest'] = data.Date.diff() - timedelta(days = 1)
  data['Days_Rest'] = data['Days_Rest'].fillna(data['Days_Rest'].median())
  data['Days_Rest'] = pd.to_numeric(data.Days_Rest.dt.days, downcast = 'integer')

  # Set index to Date
  data = data.set_index('Date')

  # Avg points per game for the season
  data['Avg_Pts'] = data['Points_For'].rolling(window = 82, min_periods = 1).mean().shift(periods = 1)
  # data['Avg_Pts'].fillna(data['Avg_Pts'].mean()) not sure if a good idea to impute

  # Only numerical columns for regression
  # data variable has everything, plus NA values. df only has numerical values for regression
  df = data[['Points_For', 'Avg_Pts', 'Home', 'Days_Rest']].dropna()

  # Train Test Split
  X = df[['Avg_Pts', 'Home', 'Days_Rest']]
  y = df['Points_For']
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 17)

  # RF consistently performs best. Not sure of real life applications of model choice
  # Take average of 10 RF regressors
  # Initially thought I would minimize the error but there's less variation in the RF regressors than hypothesized
  randoms = range(17, 27)
  errors = []
  for state in randoms:
    rf = RandomForestRegressor(n_estimators = 500, max_depth = 2, random_state = state).fit(X_train, y_train)
    y_preds = rf.predict(X_test)
    errors.append(mean_absolute_error(y_preds, y_test))
  
  return errors

In [40]:
season = 2022

# Initialize dictionary to store errors
err_dict_simple = {}

# Takes a couple mintues to run
for team in team_dict.values():
  err = season_avg_pts(season, team)
  err_dict_simple[team] = err

err_df_simple = pd.DataFrame(err_dict_simple).transpose()
err_df_simple['Mean Error'] = err_df_simple.mean(axis = 1)
err_df_simple

,0,1,2,3,4,5,6,7,8,9,Mean Error
ATL,11.487161,11.382718,11.473197,11.501289,11.378804,11.462847,11.390847,11.502715,11.392698,11.435662,11.440794
BOS,14.164328,14.095020,14.150237,14.149357,14.122182,14.124894,14.147018,14.070932,14.274491,14.157885,14.145634
BRK,9.256827,9.322561,9.217926,9.324130,9.327288,9.270329,9.343654,9.264932,9.276741,9.316478,9.292087
CHO,12.272938,12.210352,12.251234,12.236629,12.167548,12.284442,12.224027,12.238569,12.089449,12.148082,12.212327
CHI,11.941616,11.950827,11.955036,12.034040,12.011039,11.995940,11.977788,12.077910,11.984457,11.935930,11.986458
CLE,8.765881,8.748233,8.885336,8.692396,8.831366,8.734577,8.693499,8.767217,8.799277,8.745629,8.766341
DAL,11.390562,11.424949,11.442508,11.462531,11.420011,11.493934,11.448864,11.501536,11.279096,11.462812,11.432680
DEN,10.099377,10.020964,9.825812,10.153176,9.836706,10.005059,10.055205,9.979834,9.994818,9.888486,9.985944
DET,9.008230,8.962335,8.919494,8.957327,8.932729,8.901524,8.988299,8.954290,9.002254,8.999470,8.962595
GSW,8.973419,9.004332,8.997084,8.879094,8.968207,9.072875,8.956069,9.048803,8.888176,8.982442,8.977050
HOU,9.021059,8.935010,9.181844,9.101709,8.984713,8.794815,9.120007,8.888991,9.252450,9.122319,9.040292
IND,8.624202,8.647326,8.664959,8.649612,8.648411,8.698312,8.705283,8.641141,8.658065,8.605107,8.654242
LAC,12.444298,12.411442,12.431033,12.369934,12.446598,12.457183,12.364820,12.348656,12.384818,12.416948,12.407573
LAL,10.067780,10.030563,10.112181,10.092315,10.007489,9.969786,10.086611,10.007985,10.098030,10.067973,10.054071
MEM,10.675042,10.747357,10.814182,10.682485,10.681345,10.686936,10.693951,10.712852,10.742598,10.711068,10.714782
MIA,7.550561,7.599996,7.558196,7.609833,7.584821,7.500919,7.611119,7.599209,7.497904,7.547835,7.566039
MIL,8.085605,7.840576,8.066642,7.860064,7.869906,8.073832,8.003443,8.080541,7.999774,8.041412,7.992179
MIN,10.180691,10.212414,10.095730,10.163854,10.195489,10.297132,10.137633,10.145856,10.214874,10.218047,10.186172
NOP,9.089610,9.010643,9.121532,9.100258,9.063370,9.138565,8.985307,8.980492,9.072994,9.108384,9.067116
NYK,8.555382,8.419942,8.512191,8.443965,8.525191,8.484167,8.520153,8.505801,8.481937,8.524833,8.497356
OKC,7.963834,8.064744,8.043707,7.902887,7.896282,7.861709,7.814493,7.963381,7.907221,7.980909,7.939917
ORL,7.371334,7.383546,7.451389,7.412327,7.366808,7.386725,7.306676,7.431625,7.376457,7.348368,7.383525
PHI,10.286013,10.275927,10.324671,10.339102,10.263860,10.295441,10.345806,10.310304,10.387981,10.297649,10.312675
PHO,6.941028,7.007920,7.010912,6.988269,7.023217,7.009899,6.983902,6.984433,7.015287,6.895660,6.986053
POR,9.882795,9.808910,9.852398,9.923504,9.873059,9.857832,9.897914,9.909331,9.875464,9.875825,9.875703
SAC,11.182297,11.250813,11.183979,11.278151,11.245564,11.277260,11.238434,11.281558,11.245415,11.255420,11.243889
SAS,11.757870,11.731501,11.779880,11.756181,11.758158,11.802875,11.807364,11.791068,11.768749,11.844253,11.779790
TOR,9.118287,9.159129,9.051892,9.102005,9.094571,9.119926,9.052102,9.070038,9.073280,9.064650,9.090588
UTA,6.052225,6.170456,6.118049,6.060359,6.155973,6.129465,6.106220,6.205127,6.158784,6.023353,6.118001
WAS,8.335612,8.336904,8.371273,8.289322,8.376913,8.338125,8.326114,8.369401,8.363211,8.334574,8.344145

In [42]:
np.sum(err_df_full_model['Mean Error'] - err_df_simple['Mean Error'])

-6.9361337751872565

The model that only uses Average Points as an explanatory variable is substantially worse than either model above (not shown). This simplified model that includes Average Points, Days Rest, and Home/Away is generally within 1 point of the full model above, but for most teams the full model is more accurate. The negative value above shows that errors are larger for the simple model.

When adding additional potential variables like Net Rating or Opponents Defensive Rating Last 3 Games, perform a similar evaluation to ensure the model is actually improving.

## Get Data And Predict

In [5]:
# Make it all a function
def predict_points(season, team, def_ranks):
  # Season: int (ex: 2022)
  # Team: str (ex: 'BOS')
  # Def_Ranks: dataframe created above. limit calls to bball-ref

  url = 'https://www.basketball-reference.com/teams/{}/{}_games.html'.format(team, str(season))
  data = pd.read_html(url)[0]
  data = data.rename(columns = {'Unnamed: 5' : 'Home',
                              'Unnamed: 7' : 'Result',
                              'Unnamed: 8' : 'Overtime',
                              'Tm' : 'Points_For',
                              'Opp' : 'Points_Against'})

  # Filter out extra rows in table
  data = data.loc[data['G'] != 'G']

  # Convert Date to datetime objects
  data['Date'] = pd.to_datetime(data['Date'])

  # Filter out games that haven't been played yet
  today = (datetime.today() - timedelta(hours = 8)).strftime('%Y-%m-%d')
  data = data[data['Date'] <= today]

  # Convert Points_For to int
  data['Points_For'] = data['Points_For'].astype('int', errors = 'ignore')

  # Clean Home/Away column
  data['Home'] = data['Home'].replace('@', 0)
  data['Home'] = data['Home'].fillna(1)
  data['Home'] = data['Home'].astype('int')

  # Add Days Rest column
  data['Days_Rest'] = data.Date.diff() - timedelta(days = 1)
  data['Days_Rest'] = data['Days_Rest'].fillna(data['Days_Rest'].median())
  data['Days_Rest'] = pd.to_numeric(data.Days_Rest.dt.days, downcast = 'integer')

  # Join data and def_data to add DRtg/A (adjusted defensive rating)
  data = data.merge(def_ranks, left_on = 'Opponent', right_on = 'Team').sort_values(by = ['Date'])

  # Set index to Date
  data = data.set_index('Date')

  # Avg points per game for the season
  data['Avg_Pts'] = data['Points_For'].rolling(window = 82, min_periods = 1).mean().shift(periods = 1)
  # data['Avg_Pts'].fillna(data['Avg_Pts'].mean()) not sure if a good idea to impute

  # Avg points per game last three games
  data['Avg_Pts_Last_3'] = data['Points_For'].rolling(window = 3, min_periods = 1).mean().shift(periods = 1)

  # Only numerical columns for regression
  # data variable has everything, plus NA values. df only has numerical values for regression
  df = data[['Points_For', 'Avg_Pts', 'Avg_Pts_Last_3', 'Home', 'Days_Rest', 'DRtg/A']].dropna()

  # Train Test Split
  X = df[['Avg_Pts', 'Avg_Pts_Last_3', 'Home', 'Days_Rest', 'DRtg/A']]
  y = df['Points_For']
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 17)

  # RF consistently performs best. Not sure of real life applications of model choice
  rf = RandomForestRegressor(n_estimators = 500, max_depth = 2, random_state = 17).fit(X_train, y_train)

  # Calculate the five inputs and pass to the predict function
  avg_pts = data[data.index == today]['Avg_Pts'][0]
  avg_pts_3 = data[data.index == today]['Avg_Pts_Last_3'][0]
  home = data[data.index == today]['Home'][0]
  days_rest = data[data.index == today]['Days_Rest'][0]
  def_rating = data[data.index == today]['DRtg/A'][0]

  inputs = pd.DataFrame([[avg_pts, avg_pts_3, home, days_rest, def_rating]], columns = list(X_train.columns))
  return rf.predict(inputs)

## Today's Games

In [ ]:
# Make it all a function
def todays_games():
  currentMonth = (datetime.now() - timedelta(hours = 8)).strftime('%B')
  schedule = 'https://www.basketball-reference.com/leagues/NBA_2023_games-{}.html'.format(currentMonth.lower())

  sch = pd.read_html(schedule)[0]
  sch = sch.rename(columns = {'Visitor/Neutral' : 'Away',
                              'Home/Neutral' : 'Home'})

  # Convert Date to datetime objects
  sch['Date'] = pd.to_datetime(sch['Date'])

  # Filter df to today's date
  today = (datetime.today() - timedelta(hours = 8)).strftime('%Y-%m-%d')
  sch = sch[sch['Date'] == today]

  return sch[['Date', 'Away', 'Home']]

sch = todays_games()
games = list(zip(sch['Away'], sch['Home']))

In [ ]:
print((datetime.today() - timedelta(hours = 8)).strftime('%Y-%m-%d'))
season = 2023
def_ranks = defensive_rank(season)
i = 1
for a, h in games:
  away = team_dict[a]
  home = team_dict[h]
  time.sleep(2)
  away_pts = np.round(predict_points(season, away, def_ranks), 2)
  time.sleep(2)
  home_pts = np.round(predict_points(season, home, def_ranks), 2)
  print('Game {}'.format(i))
  print('{}: {}'.format(away, away_pts))
  print('{}: {}'.format(home, home_pts))
  print()
  i += 1